<h2>Edit Location</h2>
<form>
  <input data-ng-model="LocationEditViewModel.location.name" placeholder="Name"></input>
  <input data-ng-model="LocationEditViewModel.location.address" placeholder="Address"></input>
  <input data-ng-model="LocationEditViewModel.location.description" placeholder="Description"></input>
  <button data-ng-click="LocationEditViewModel.update()" type="submit">Update Location</button>
  <button data-ng-click="LocationEditViewModel.destroy()" type="submit">Delete Location</button>
</form>
