<h1>SANIGO</h1>

<h2>Locations</h2>

<h4>Add Location</h4>

<form data-ng-submit="LocationIndexViewModel.create()">
  <input data-ng-model="LocationIndexViewModel.newLocation.name" placeholder="Enter Name of Location">
  <input data-ng-model="LocationIndexViewModel.newLocation.address" placeholder="Enter Address">
  <button type="submit">Create</button>
</form>
<hr />
<div data-ng-repeat="location in LocationIndexViewModel.locations">
  <p>{{location.name}} </p>
  <p>{{location.address}} </p>
  <button data-ng-click="LocationIndexViewModel.delete(location)">Delete</button>
</div>
