<img class="logo" src="http://i.imgur.com/dmTjhOW.png" />

<h2>Add New Location</h2>
<form>
  <input data-ng-model="LocationIndexViewModel.location.name" placeholder="Name"></input>
  <input data-ng-model="LocationIndexViewModel.location.address" placeholder="Address"></input>
  <button data-ng-click="LocationIndexViewModel.create()" type="submit">Create Location</button>
</form>

<hr/>
<h2>Locations</h2>

<div data-ng-repeat="location in LocationIndexViewModel.locations track by $index">
  <p>{{location.name}} </p>
  <p>{{location.address}} </p>
  <button data-ng-click="LocationIndexViewModel.update()" type="submit">Edit</button>
  <button data-ng-click="LocationIndexViewModel.delete(location)">Delete</button>
</div>
