.logo{
  max-width: 420px;
}
body{
  background-color: #D0D2D5;
}
h1{
  text-align: center;
}
h4{
  text-align: center;
}
body{
  text-align: center;
}
.toilet{
  max-height: 35px;
  padding-bottom: 7px;
}
