<%= stylesheet_link_tag "locations", property: "stylesheet" %>
<%= javascript_include_tag "locations" %>
  <div data-ng-app="sanigo">

    <body>
        <main data-ui-view></main>
    </body>

  </div>
